# Supabase — Récupérez ces valeurs dans app.supabase.com > Project Settings > API
NEXT_PUBLIC_SUPABASE_URL=https://xkkyzutluluntpesztjl.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_QBJar4XETRwtUsvOAhJi1Q_9iMiWiAR

# Optionnel : Google Analytics
NEXT_PUBLIC_GA_ID=

# Chariow (identifiant boutique par défaut)
NEXT_PUBLIC_CHARIOW_STORE_DOMAIN=librairie-ramos.mychariow.com
